<section id="galeria" class="gallery">
    <h2 class="section-title">Galería</h2>
    <div class="gallery-event-place">
        <h3>Sala de Artes Escénicas, Chiguayante</h3>
        <div class="photos">
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_room/all.webp') }}" alt="Todos los integrantes" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_room/agus.webp') }}" alt="Agustín el guitarrista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_room/basti.webp') }}" alt="Bastián el otro guitarrista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_room/cris.webp') }}" alt="Cristobal el baterista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_room/mati.webp') }}" alt="Matías el bajista y vocalista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_room/rico.webp') }}" alt="Sebastián el tecladista" loading="lazy">
            </div>
        </div>
    </div>
    <div class="gallery-event-place">
        <h3>Fiesta de las Artes y la Cultura Popular, Universidad del Bío-Bío</h3>
        <div class="photos">
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4133.webp') }}" alt="Sebastián y a Bastián" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4159.webp') }}" alt="Sebastián el tecladista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4174.webp') }}" alt="Sebastián el tecladista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4182.webp') }}" alt="Agustín el guitarrista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4195.webp') }}" alt="Cristobal el baterista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4208.webp') }}" alt="Bastián el guitarrista" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4255.webp') }}" alt="El bajo de Matías" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4257.webp') }}" alt="Sebastián, Bastián y Matías en el escenario" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4277.webp') }}" alt="Guitarra de Agustín" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4298.webp') }}" alt="Agustín de perfil" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4312.webp') }}" alt="Matías cantando" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4330.webp') }}" alt="Bastián tocando la guitarra" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4342.webp') }}" alt="Bastián tocando el bajo de Matías y Matías cantando" loading="lazy">
            </div>
            <div class="photo">
                <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4353.webp') }}" alt="Cristobal tocando la batería" loading="lazy">
            </div>
        </div>
    </div>
</section>