<section id="galeria">
    <h2 class="section-title" data-aos="fade-up">Galería</h2>

    <div class="gallery-preview">
        <div class="photo photo-more" data-event="fallrock" data-aos="zoom-in" data-aos-delay="100">
            <img src="{{ url_for('static', path='img/gallery/events/fallrock/rico.webp') }}" alt="Sebacio" loading="lazy">
            <div class="more-overlay">
                <p><strong>FallRock</strong></p>
                <p><small>Sala de artes Escénicas</small></p>
            </div>
        </div>
        <div class="photo photo-more" data-event="arts_fest_ubb" data-aos="zoom-in" data-aos-delay="200">
            <img src="{{ url_for('static', path='img/gallery/events/arts_fest_ubb/_MG_4277.webp') }}" alt="Agustín el guitarrista" loading="lazy">
            <div class="more-overlay">
                <p><strong>Fiesta de las Artes</strong></p>
                <p><small>Universidad del Bío-Bío</small></p>
            </div>
        </div>
        <div class="photo photo-more" data-event="chiguarock" data-aos="zoom-in" data-aos-delay="300">
            <img src="{{ url_for('static', path='img/gallery/events/chiguarock/IMG_1604.webp') }}" alt="Agustín el guitarrista" loading="lazy">
            <div class="more-overlay">
                <p><strong>ChiguaRock</strong></p>
                <p><small>Plaza cívica de Chiguayante</small></p>
            </div>
        </div>
    </div>

    <!-- Lightbox container -->
    <div id="gallery-lightbox" class="lightbox">
        <div class="lightbox-content">
            <span class="close-lightbox">&times;</span>
            <div class="lightbox-images">
                <!-- Images will be inserted here dynamically -->
            </div>
            <button class="prev-btn">&#10094;</button>
            <button class="next-btn">&#10095;</button>

            <div class="lightbox-nav">
                <div class="lightbox-caption"></div>
                <div class="lightbox-thumbnails">
                    <!-- Thumbnails will be inserted here dynamically -->
                </div>
            </div>
        </div>
    </div>
</section>